In [1]:
# HW data prepare
import pandas as pd
import numpy as np

In [22]:
dataY = pd.DataFrame(pd.read_csv('AMZN.csv')[['Date','Close']])
dataY.columns = ['Date', 'AMZN']

In [23]:
data1 = pd.DataFrame(pd.read_csv('AAL.csv')[['Date','Close']])
data1.columns = ['Date', 'X1']
data2 = pd.DataFrame(pd.read_csv('AAPL.csv')[['Date','Close']])
data2.columns = ['Date', 'X2']
data3 = pd.DataFrame(pd.read_csv('AMD.csv')[['Date','Close']])
data3.columns = ['Date', 'X3']
data4 = pd.DataFrame(pd.read_csv('AMRN.csv')[['Date','Close']])
data4.columns = ['Date', 'X4']
data5 = pd.DataFrame(pd.read_csv('AMZN.csv')[['Date','Close']])
data5.columns = ['Date', 'X5']
data6 = pd.DataFrame(pd.read_csv('APA.csv')[['Date','Close']])
data6.columns = ['Date', 'X6']
data7 = pd.DataFrame(pd.read_csv('AUY.csv')[['Date','Close']])
data7.columns = ['Date', 'X7']
data8 = pd.DataFrame(pd.read_csv('BA.csv')[['Date','Close']])
data8.columns = ['Date', 'X8']
data9 = pd.DataFrame(pd.read_csv('BAC.csv')[['Date','Close']])
data9.columns = ['Date', 'X9']
data10 = pd.DataFrame(pd.read_csv('BBD.csv')[['Date','Close']])
data10.columns = ['Date', 'X10']
data11 = pd.DataFrame(pd.read_csv('C.csv')[['Date','Close']])
data11.columns = ['Date', 'X11']
data12 = pd.DataFrame(pd.read_csv('CCL.csv')[['Date','Close']])
data12.columns = ['Date', 'X12']

In [24]:
data13 = pd.DataFrame(pd.read_csv('CMCSA.csv')[['Date','Close']])
data13.columns = ['Date', 'X13']
data14 = pd.DataFrame(pd.read_csv('CZR.csv')[['Date','Close']])
data14.columns = ['Date', 'X14']
data15 = pd.DataFrame(pd.read_csv('DAL.csv')[['Date','Close']])
data15.columns = ['Date', 'X15']
data16 = pd.DataFrame(pd.read_csv('DVN.csv')[['Date','Close']])
data16.columns = ['Date', 'X16']
data17 = pd.DataFrame(pd.read_csv('EQT.csv')[['Date','Close']])
data17.columns = ['Date', 'X17']
data18 = pd.DataFrame(pd.read_csv('ET.csv')[['Date','Close']])
data18.columns = ['Date', 'X18']
data19 = pd.DataFrame(pd.read_csv('F.csv')[['Date','Close']])
data19.columns = ['Date', 'X19']
data20 = pd.DataFrame(pd.read_csv('FB.csv')[['Date','Close']])
data20.columns = ['Date', 'X20']
data21 = pd.DataFrame(pd.read_csv('FCX.csv')[['Date','Close']])
data21.columns = ['Date', 'X21']
data22 = pd.DataFrame(pd.read_csv('GE.csv')[['Date','Close']])
data22.columns = ['Date', 'X22']
data23 = pd.DataFrame(pd.read_csv('GILD.csv')[['Date','Close']])
data23.columns = ['Date', 'X23']
data24 = pd.DataFrame(pd.read_csv('GOLD.csv')[['Date','Close']])
data24.columns = ['Date', 'X24']

In [25]:
data25 = pd.DataFrame(pd.read_csv('HAL.csv')[['Date','Close']])
data25.columns = ['Date', 'X25']
data26 = pd.DataFrame(pd.read_csv('INO.csv')[['Date','Close']])
data26.columns = ['Date', 'X26']
data27 = pd.DataFrame(pd.read_csv('ITUB.csv')[['Date','Close']])
data27.columns = ['Date', 'X27']
data28 = pd.DataFrame(pd.read_csv('IVZ.csv')[['Date','Close']])
data28.columns = ['Date', 'X28']
data29 = pd.DataFrame(pd.read_csv('JPM.csv')[['Date','Close']])
data29.columns = ['Date', 'X29']
data30 = pd.DataFrame(pd.read_csv('KGC.csv')[['Date','Close']])
data30.columns = ['Date', 'X30']
data31 = pd.DataFrame(pd.read_csv('KMI.csv')[['Date','Close']])
data31.columns = ['Date', 'X31']
data32 = pd.DataFrame(pd.read_csv('MGM.csv')[['Date','Close']])
data32.columns = ['Date', 'X32']
data33 = pd.DataFrame(pd.read_csv('MRO.csv')[['Date','Close']])
data33.columns = ['Date', 'X33']
data34 = pd.DataFrame(pd.read_csv('MSFT.csv')[['Date','Close']])
data34.columns = ['Date', 'X34']
data35 = pd.DataFrame(pd.read_csv('MU.csv')[['Date','Close']])
data35.columns = ['Date', 'X35']
data36 = pd.DataFrame(pd.read_csv('NBL.csv')[['Date','Close']])
data36.columns = ['Date', 'X36']

In [26]:
data37 = pd.DataFrame(pd.read_csv('NCLH.csv')[['Date','Close']])
data37.columns = ['Date', 'X37']
data38 = pd.DataFrame(pd.read_csv('OXY.csv')[['Date','Close']])
data38.columns = ['Date', 'X38']
data39 = pd.DataFrame(pd.read_csv('BRK-B.csv')[['Date','Close']])
data39.columns = ['Date', 'X39']
data40 = pd.DataFrame(pd.read_csv('PFE.csv')[['Date','Close']])
data40.columns = ['Date', 'X40']
data41 = pd.DataFrame(pd.read_csv('RF.csv')[['Date','Close']])
data41.columns = ['Date', 'X41']
data42 = pd.DataFrame(pd.read_csv('SIRI.csv')[['Date','Close']])
data42.columns = ['Date', 'X42']
data43 = pd.DataFrame(pd.read_csv('SLB.csv')[['Date','Close']])
data43.columns = ['Date', 'X43']
data44 = pd.DataFrame(pd.read_csv('T.csv')[['Date','Close']])
data44.columns = ['Date', 'X44']
data45 = pd.DataFrame(pd.read_csv('TWTR.csv')[['Date','Close']])
data45.columns = ['Date', 'X45']
data46 = pd.DataFrame(pd.read_csv('UAL.csv')[['Date','Close']])
data46.columns = ['Date', 'X46']
data47 = pd.DataFrame(pd.read_csv('VALE.csv')[['Date','Close']])
data47.columns = ['Date', 'X47']
data48 = pd.DataFrame(pd.read_csv('VER.csv')[['Date','Close']])
data48.columns = ['Date', 'X48']
data49 = pd.DataFrame(pd.read_csv('WFC.csv')[['Date','Close']])
data49.columns = ['Date', 'X49']
data50 = pd.DataFrame(pd.read_csv('XOM.csv')[['Date','Close']])
data50.columns = ['Date', 'X50']

In [27]:
data = pd.merge(data1, data2, how='outer', on='Date')
data = pd.merge(data, data3, how='outer', on='Date')
data = pd.merge(data, data4, how='outer', on='Date')
data = pd.merge(data, data5, how='outer', on='Date')
data = pd.merge(data, data6, how='outer', on='Date')
data = pd.merge(data, data7, how='outer', on='Date')
data = pd.merge(data, data8, how='outer', on='Date')
data = pd.merge(data, data9, how='outer', on='Date')
data = pd.merge(data, data10, how='outer', on='Date')
data = pd.merge(data, data11, how='outer', on='Date')
data = pd.merge(data, data12, how='outer', on='Date')
data = pd.merge(data, data13, how='outer', on='Date')
data = pd.merge(data, data14, how='outer', on='Date')
data = pd.merge(data, data15, how='outer', on='Date')
data = pd.merge(data, data16, how='outer', on='Date')
data = pd.merge(data, data17, how='outer', on='Date')
data = pd.merge(data, data18, how='outer', on='Date')
data = pd.merge(data, data19, how='outer', on='Date')
data = pd.merge(data, data20, how='outer', on='Date')
data = pd.merge(data, data21, how='outer', on='Date')
data = pd.merge(data, data22, how='outer', on='Date')
data = pd.merge(data, data23, how='outer', on='Date')
data = pd.merge(data, data24, how='outer', on='Date')
data = pd.merge(data, data25, how='outer', on='Date')
data = pd.merge(data, data26, how='outer', on='Date')
data = pd.merge(data, data27, how='outer', on='Date')
data = pd.merge(data, data28, how='outer', on='Date')
data = pd.merge(data, data29, how='outer', on='Date')
data = pd.merge(data, data30, how='outer', on='Date')
data = pd.merge(data, data31, how='outer', on='Date')
data = pd.merge(data, data32, how='outer', on='Date')
data = pd.merge(data, data33, how='outer', on='Date')
data = pd.merge(data, data34, how='outer', on='Date')
data = pd.merge(data, data35, how='outer', on='Date')
data = pd.merge(data, data36, how='outer', on='Date')
data = pd.merge(data, data37, how='outer', on='Date')
data = pd.merge(data, data38, how='outer', on='Date')
data = pd.merge(data, data39, how='outer', on='Date')
data = pd.merge(data, data40, how='outer', on='Date')
data = pd.merge(data, data41, how='outer', on='Date')
data = pd.merge(data, data42, how='outer', on='Date')
data = pd.merge(data, data43, how='outer', on='Date')
data = pd.merge(data, data44, how='outer', on='Date')
data = pd.merge(data, data45, how='outer', on='Date')
data = pd.merge(data, data46, how='outer', on='Date')
data = pd.merge(data, data47, how='outer', on='Date')
data = pd.merge(data, data48, how='outer', on='Date')
data = pd.merge(data, data49, how='outer', on='Date')
data = pd.merge(data, data50, how='outer', on='Date')

In [28]:
data.isna().sum()

Date    0
X1      0
X2      0
X3      0
X4      0
X5      0
X6      0
X7      0
X8      0
X9      0
X10     0
X11     0
X12     0
X13     0
X14     0
X15     0
X16     0
X17     0
X18     0
X19     0
X20     0
X21     0
X22     0
X23     0
X24     0
X25     0
X26     0
X27     0
X28     0
X29     0
X30     0
X31     0
X32     0
X33     0
X34     0
X35     0
X36     0
X37     0
X38     0
X39     0
X40     0
X41     0
X42     0
X43     0
X44     0
X45     0
X46     0
X47     0
X48     0
X49     0
X50     0
dtype: int64

In [29]:
data.shape

(1007, 51)

In [30]:
data.head()

,Date,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X41,X42,X43,X44,X45,X46,X47,X48,X49,X50
0,2014-01-02,25.360001,79.018570,3.95,1.96,397.970001,85.480003,8.98,136.669998,16.10,...,9.89,3.50,88.820000,34.950001,67.500000,37.730000,14.53,12.87,45.020000,99.750000
1,2014-01-03,26.540001,77.282860,4.00,1.99,396.440002,85.540001,8.85,137.619995,16.41,...,9.87,3.57,88.349998,34.799999,69.000000,39.950001,14.33,12.91,45.340000,99.510002
2,2014-01-06,27.030001,77.704285,4.13,2.02,393.630005,86.309998,8.92,138.410004,16.66,...,10.07,3.83,88.019997,34.959999,66.290001,39.360001,14.29,12.82,45.419998,99.660004
3,2014-01-07,26.910000,77.148575,4.18,2.00,398.029999,87.900002,9.03,140.509995,16.50,...,10.10,3.86,87.510002,34.950001,61.459999,38.689999,14.04,12.84,45.400002,101.070000
4,2014-01-08,27.629999,77.637146,4.18,2.04,401.920013,86.650002,9.12,140.820007,16.58,...,10.25,3.77,86.980003,34.240002,59.290001,41.020000,13.95,12.66,45.919998,100.739998

In [31]:
data_ave = np.empty(shape=[1007,50])
for stock in range(1,51) :
    for day in range(1007):
        data_ave[day,stock-1]= float(data.iloc[day,stock])/float(data.iloc[0:(day+1),stock].sum())*(day+1)

In [32]:
data_input = np.empty(shape=[1002,250])
for day in range(1002):
    data_input[day,]=data_ave[day:day+5,:].reshape((1,250))

In [33]:
data_input_y = np.matrix(dataY.iloc[5:1007,1]).T
data_input_y

matrix([[ 401.01001 ],
        [ 397.660004],
        [ 390.980011],
        ...,
        [1182.26001 ],
        [1186.099976],
        [1169.469971]])

In [34]:
date_input = np.matrix(dataY.iloc[5:1007,0]).T
date_input.shape

(1002, 1)

In [35]:
data_input = np.concatenate((data_input, data_input_y,date_input),axis=1)

In [36]:
data_input.shape

(1002, 252)

In [37]:
from sklearn.model_selection import train_test_split
second_size = 102/1002
train, test = train_test_split(data_input, test_size=second_size,random_state=123)

In [38]:
train.shape

(900, 252)

In [39]:
test.shape

(102, 252)

In [40]:
train=pd.DataFrame(train)
test=pd.DataFrame(test)
train=train.sort_values(by=[251])
test=test.sort_values(by=[251])
train.iloc[:,0:251].to_csv('train.csv')
test.iloc[:,0:251].to_csv('test.csv')

In [41]:
Xtrain = np.matrix(train.iloc[:,0:250])
Xtrain

matrix([[1.0, 1.0, 1.0, ..., 0.9875195007800314, 1.0110083312286071,
         1.005931312236684],
        [1.0227360299523687, 0.9888951111963596, 1.0062893081761006, ...,
         0.9908830424589736, 1.013540225525435, 0.9967859681581446],
        [1.027366019484378, 0.9961844521617775, 1.025662251655629, ...,
         1.013588772555135, 1.0074561278896252, 1.0037516953948515],
        ...,
        [1.2159384255216612, 1.5158271785780297, 1.8703048511210045, ...,
         0.8091822301912605, 1.178477932007071, 0.9644769840632168],
        [1.2255530521917044, 1.496549856544686, 1.867067792809627, ...,
         0.8115557496528907, 1.166598281713421, 0.9637417678040979],
        [1.245783201177837, 1.501462383159173, 1.8501911778420217, ...,
         0.8013626305768539, 1.1730952492918099, 0.965153588915798]],
       dtype=object)

In [125]:
G = np.corrcoef(Xtrain.T)

AttributeError: 'float' object has no attribute 'shape'

In [160]:
# pca to determine h
from numpy import linalg as la
eigenv=la.eig(G)
eigenValues=eigenv[0]
eigenValues=np.sort(eigenValues)[::-1]

In [158]:
RAT=[]
eigen_sum=0
for i in range(250):
    eigen_sum=eigen_sum+eigenValues[i]
    ratio=eigen_sum/sum(eigenValues)
    RAT.append(ratio)
# Identify the smallest j such that RATj ≥ 90% 
j=0
for i in range(250):
    if RAT[i]>=0.90:
        j=i
        break
j

6